@import 'reset.scss';
$main_yellow_color: #ffcb05;
$main_blue_color: #2f547d;
$sub_blue_color: #5da9dd;

%flex-position {
	display: flex;
	justify-content: space-between;
}
@font-face {
	font-family: 'ProbaPro';
	src: url('../fonts/ProbaPro-Regular.eot');
	src: local('☺'), url('../fonts/ProbaPro-Regular.woff') format('woff'), url('../fonts/ProbaPro-Regular.ttf') format('truetype'), url('../fonts/ProbaPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProbaPro';
	src: url('../fonts/ProbaPro-SemiBold.eot');
	src: local('☺'), url('../fonts/ProbaPro-SemiBold.woff') format('woff'), url('../fonts/ProbaPro-SemiBold.ttf') format('truetype'), url('../fonts/ProbaPro-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: $main_blue_color;
	font-family: 'ProbaPro';
}

a {
	text-decoration: none;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 50px;
}
.title {
	font-weight: 600;
	font-size: 35px;
	text-align: center;
	margin: 20px 0;
}
.header {
	@extend %flex-position;
	padding: 40px 0;
	color: #fff;
	.header__phone {
		font-size: 20px;
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}
@media (max-width: 650px) {
.wrapper {
	padding: 0 30px;
}
.title {

	font-size: 28px;

	margin: 20px 0;
}
}
.main {
	width: 100%;
	background-image:linear-gradient(90deg, rgba(36,83,139,0.9) 100%, rgba(8,31,135,0.9) 234%), url("../img/background.jpg");
	background-size: cover;
	height: 600px;
	background-position: top center;
	background-attachment: fixed;
	.main__wrapper {
		@extend %flex-position;		
	}
	.main__title {
		width: 40%;
		color: #fff;
		h1{
			font-size: 45px;
			font-weight: 600;
		}
		p{
			font-size: 18px;
			font-weight: normal;
			padding-top: 30px;
		}
	}
	.main__form {
		width: 30%;

		padding: 30px;
		background-color: #fff;
		h2 {
			color: #0b2549;
			font-weight: 600;
			font-size: 25px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
.logo {
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.form {
	display: block;
	width: 100%;
	margin: 0 auto;
	.input,.textarea {
		display: block;
		width: 90%;
		font-size: 20px;
		color: #2b2c2d;
		margin-top: 20px;
		padding: 5%;
		// height: 50px;
		border: none;
		background-color: rgb(246, 246, 246);
	}
	.textarea {
		resize: none;
	}
	button {
		margin-top: 20px;
		width: 100%;
		cursor: pointer;
		font-size: 20px;
		padding: 5%;
		background-color: #6eaa3a;
		border: none;
		color: #fff;
	}
}

@media (max-width: 650px) {
	.header {
		flex-direction: column;
		padding: 40px 0;
		color: #fff;
		border-bottom: 2px solid white;
		.header__phone {
			font-size: 20px;
			p {
				margin-top: 20px;
			}
		}
	}
	.main {
		height: 600px;
		text-align: center;
		.main__wrapper {
			flex-direction: column;	
		}
		.main__title {
			width: 100%;
			h1{
				font-size: 45px;
			}
			p{
				font-size: 18px;
				padding-top: 30px;
			}
		}
		.main__form {
			width: 100%;
			border: 2px solid #0b2549;
			padding: 30px;
			margin-top: 20px;
		}
	}
	.logo {
		font-size: 25px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
	}
	.form {
		display: block;
		width: 100%;
		margin: 0 auto;
		.input {
			display: block;
			width: 90%;
			font-size: 20px;
			color: #2b2c2d;
			margin-top: 20px;
			padding: 5%;
			border: none;
			background-color: rgb(246, 246, 246);
		}

		button {
			margin-top: 20px;
			width: 100%;
			cursor: pointer;
			font-size: 20px;
			padding: 5%;
			background-color: #6eaa3a;
			border: none;
			color: #fff;
		}
	}
}


.description__wrapper {
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
}
.description__net {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	max-width: 30%;
	width: 100%;
	align-items: center;
	.description__item {
		height: 225px;
		width: 135px;
		align-items: center;
		overflow: hidden;
		position: relative;
		transform: rotate(25deg);
		-webkit-box-shadow: -2px 5px 26px -2px rgba(0,0,0,0.92); 
		box-shadow: -2px 5px 10px -2px rgba(0,0,0,0.92);

	}
	.description__item:hover > img{
		transform: rotate(-25deg) scale(0.8);
	}
	.description__item > img{
		transition: all 0.3s;
		max-width: 100%;
		width: 80%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(-25deg) scale(1.3);
	}
}
.description__text {
	width: 40%;

	h2{
		font-weight: 600;
		font-size: 23px;
	}
	p {
		font-weight: normal;
		font-size: 18px;
		line-height: 1.3em;
		margin-top: 20px
	}
}


@media (max-width: 650px) {
	.description {
		margin-top: 330px;
		padding: 0 30px;
	}
	
	.description__wrapper {
		justify-content: center;
		flex-direction: column;
		padding: 20px 0;
	}
	.description__text {
		text-align: center;
	}
	.description__net {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		max-width: 100%;
		width: 100%;
		.description__item {
			// height: 225px;
			// width: 135px;	
		}

		// .description__item > img{
		// 	transition: all 0.3s;
		// 	max-width: 100%;
		// 	width: 80%;
		// 	height: 100%;
		// 	object-fit: cover;
		// 	object-position: center center;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	transform: rotate(-25deg) scale(1.3);
		// }
	}
	.description__text {
		width: 100%;
	
		h2{
			font-weight: 600;
			font-size: 23px;
			margin-top: 40px;
		}
		p {
			font-weight: normal;
			font-size: 18px;
			line-height: 1.3em;
			margin-top: 20px
		}
	}
}
/* what do we do?*/

.functions__wrapper, .advantages__wrapper {
	@extend %flex-position;
}

.functions__wrapper {
	display: flex;
	justify-content: space-between;
}
.functions__item {
	max-width: 28%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	cursor: pointer;
	&:hover .functions__item-num{
		background-color: #fff;
		color: #1c64bd;
		width: 47px;
		height: 47px;
		border: 2px solid #1c64bd;
	}
	&:hover .functions__item-title{
		text-decoration: underline;
	}
	.functions__item-num {
		width: 50px;
		height: 50px;
		background-color: #1c64bd;
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		line-height: 50px;
		vertical-align: middle;
		border-radius: 50%;
	}
	.functions__item-title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 23px;
		margin: 30px 0;
		color: #2f547d;
	}
	.functions__item-text {
		color:#0b2549;
		line-height: 1.3em;
		font-weight: 500;
		font-size: 18px;
	}
}


@media (max-width: 650px) {
	.functions {
		// padding-top: 150px;
	}
	.functions__wrapper, .advantages__wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.functions__item {
		max-width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
	
}
// advantages
.advantages__wrapper {
	display: flex;
	justify-content: space-between;
}
.advantages {
	background-color: #0b2549;
	padding: 50px 0;
	margin-top: 50px;
}

.advantages__item {
	max-width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	.advantages__item-img {
		width: 60px;
		height: 60px;
		vertical-align: middle;
	}
	.advantages__item-title {
		font-weight: 600;
		font-size: 30px;
		margin: 10px 0;
	}
	.advantages__item-text {
		line-height: 1.3em;
		font-weight: 500;
		font-size: 23px;
	}
}

@media (max-width: 650px) {
	.advantages__wrapper {
		display: flex;
		justify-content: space-between;
	}
	.advantages {
		background-color: #0b2549;
		padding: 50px 0;
		margin-top: 50px;
	}
	
	.advantages__item {
		max-width: 100%;
		margin-top: 20px;
	}
}
//service

.service__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.service__conteiner {
	position: relative;
	height: 800px;
}
.service .service__wrapper {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
  }

.service .service__wrapper.current {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
  }
.service {
	margin-top: 50px;
}

.service__item {
	max-width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
	.service__img {
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	.service__item-title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		margin: 10px 0;
		color: #1c64bd;
	}
	.service__item-text {
		color:#0b2549;
		line-height: 1.2em;
		font-weight: 500;
		font-size: 17px;
	}

	.service__item-img {
		position: relative;
		width: 85px;
		height: 85px;
		display: block;
		.front-img, .back-img {
			position: absolute;
			width: 50px;
			height: 50px;
		}
		.back-img {
			top: 20px;
			right: 20px;
		}
	}
}

.service__controlers {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 30px auto;
	span {
		font-weight: 500;
		cursor: pointer;
		font-size: 22px;
	}
	.selected {
		font-weight: 600;
		text-decoration: underline;
	}
}

@media (max-width: 1107px) {
	.service__conteiner {
		height: 1200px;
	}
}

@media (max-width: 650px) {
	.service__controlers {
		justify-content: center;
		flex-direction: column;
		width: 90%;
		margin: 10px auto;
		text-align: center;
		span {
			font-size: 25px;
			margin: 10px 0;
		}
	}
	.service__conteiner {
		height: 1600px;
	}
.service__wrapper {
	flex-direction: column;
}
.service {
	margin-top: 50px;
}

.service__item {
	max-width: 100%;
}

.service__item {
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 25px;

	.service__item-title {
		font-size: 19px;
		margin: 10px 0;

	}
	.service__item-text {

		line-height: 1.2em;

		font-size: 16px;
	}
}
}

//address
.address {
	background-color: #1c64bd;
	color: #fff;
	padding: 40px 0;
}

.address__wrapper {
	display: flex;
	justify-content: space-between;
}
.map {
	width: 40%;
	iframe {
		max-width: 600px;
		width: 100%;
		height: 350px;
	}
}
.data {
	width: 40%;

	.data__title {
		font-weight: 600;
		font-size: 35px;
	}
	p {
		font-size: 25px;
		line-height: 1.5em;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
}

@media (max-width: 1125px) {
	
	.address__wrapper {

		flex-direction: column;
		text-align: center;
	}
	.map {
		width: 100%;
	}
	.data {
		width: 100%;

	}
}